flows node red.json
[
    {
        "id": "c27f8bf68c5c1295",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fa4157b65b301f99",
        "type": "ui_switch",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "label": "Motor",
        "tooltip": "",
        "group": "6cf18bd796a41c29",
        "order": 4,
        "width": "7",
        "height": 1,
        "passthru": false,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 520,
        "wires": [
            [
                "1bdbc0d15e8e34ab",
                "6373e97d8fe536cf",
                "b67e3057b752eb4f"
            ]
        ]
    },
    {
        "id": "f138cb8041e3c2b2",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Monitoring",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "b32b20aeebb15599",
        "type": "ui_level",
        "z": "c27f8bf68c5c1295",
        "group": "6cf18bd796a41c29",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Motor Performance   : ",
        "colorHi": "#33f90b",
        "colorWarn": "#ff9900",
        "colorNormal": "#ff0505",
        "colorOff": "#595959",
        "min": 0,
        "max": "100",
        "segWarn": "30",
        "segHigh": "80",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "reactive",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 310,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2aeeebcf40d39be6",
        "type": "ui_media",
        "z": "c27f8bf68c5c1295",
        "group": "6cf18bd796a41c29",
        "name": "",
        "width": "7",
        "height": "4",
        "order": 11,
        "category": "image",
        "file": "png-transparent-electric-motor-induction-motor-ac-motor-three-phase-electric-power-electricity-engine-business-transport-industry.png",
        "layout": "center",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 810,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "9f01620057ba64d0",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "1fc1f819d24ed42a",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Power",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1000,
        "wires": []
    },
    {
        "id": "34c222affa37640a",
        "type": "mqtt in",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "tes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "15224c09c6cf099a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "7edaab45fb34392d",
        "type": "ui_chart",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "group": "1fc1f819d24ed42a",
        "order": 1,
        "width": "13",
        "height": "4",
        "label": "Motor Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "250",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "960787e8a6229f6b",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "1fc1f819d24ed42a",
        "order": 2,
        "width": "13",
        "height": "1",
        "name": "",
        "label": "Speed",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 840,
        "wires": []
    },
    {
        "id": "16a89d91eb07d33b",
        "type": "ui_chart",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "group": "1fc1f819d24ed42a",
        "order": 2,
        "width": "13",
        "height": "4",
        "label": "Motor Power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#ecef1f",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f945c66b74939f30",
        "type": "ui_slider",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "label": "Setpoint",
        "tooltip": "",
        "group": "6cf18bd796a41c29",
        "order": 3,
        "width": "7",
        "height": 1,
        "passthru": false,
        "outs": "all",
        "topic": "Slider",
        "topicType": "str",
        "min": 0,
        "max": "200",
        "step": 1,
        "className": "",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "4748273168d22a41",
                "f9a1905181c7451d"
            ]
        ]
    },
    {
        "id": "4748273168d22a41",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Store setpoint Value",
        "func": "flow.set(\"setpoint_value\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9415944fee34f6cf",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Read setpoint Value",
        "func": "msg.payload = flow.get(\"setpoint_value\")  // Mengambil nilai dari context, default ke 0 jika null\nmsg.topic = \"setpoint\"    \nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 800,
        "wires": [
            [
                "7edaab45fb34392d"
            ]
        ]
    },
    {
        "id": "48a4a20ad1626d57",
        "type": "inject",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "9415944fee34f6cf",
                "67e3abebdeff84ee",
                "0828825c907b0fbd",
                "b44aa0e9d6abbb0c"
            ]
        ]
    },
    {
        "id": "72abf638ba3003b3",
        "type": "ui_toast",
        "z": "c27f8bf68c5c1295",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "1bdbc0d15e8e34ab",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "function 5",
        "func": "if(msg.payload == true)\n{\n    msg.payload = \"Motor Dinyalakan\";\n}\nelse {\n    msg.payload = \"Motor Dimatikan\";\n}\n\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 520,
        "wires": [
            [
                "72abf638ba3003b3"
            ]
        ]
    },
    {
        "id": "8b14f316f6dd96b6",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Store rpm Value",
        "func": "flow.set(\"rpm_value\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "4c8bc27f1e971372",
        "type": "mqtt in",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "sensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "15224c09c6cf099a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 740,
        "wires": [
            [
                "8b14f316f6dd96b6"
            ]
        ]
    },
    {
        "id": "67e3abebdeff84ee",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Read sensor Value",
        "func": "msg.payload = flow.get(\"rpm_value\")  // Mengambil nilai dari context, default ke 0 jika null\nmsg.topic = \"rpm\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 860,
        "wires": [
            [
                "7edaab45fb34392d",
                "960787e8a6229f6b"
            ]
        ]
    },
    {
        "id": "3e4b8e2fa8d1657e",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Store pid Value",
        "func": "flow.set(\"pid_value\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0828825c907b0fbd",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Read pid Value",
        "func": "msg.payload = flow.get(\"pid_value\")  // Mengambil nilai dari context, default ke 0 jika null\nmsg.topic = \"pid\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 920,
        "wires": [
            [
                "16a89d91eb07d33b",
                "9f01620057ba64d0"
            ]
        ]
    },
    {
        "id": "fb0f06d7412f3e03",
        "type": "mqtt in",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "pid",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "15224c09c6cf099a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 620,
        "wires": [
            [
                "3e4b8e2fa8d1657e"
            ]
        ]
    },
    {
        "id": "409df89ed3170dd2",
        "type": "ui_slider",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "label": "KP",
        "tooltip": "",
        "group": "6cf18bd796a41c29",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "3",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "3114b002863eae24",
                "cd0af3566df0b8ae"
            ]
        ]
    },
    {
        "id": "1bf921f8bb0ac128",
        "type": "ui_slider",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "label": "KI",
        "tooltip": "",
        "group": "6cf18bd796a41c29",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "0.4",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 1180,
        "wires": [
            [
                "597fe140b53e89d5",
                "6f5b08f78c813280"
            ]
        ]
    },
    {
        "id": "31701f76873c65b0",
        "type": "ui_slider",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "label": "KD",
        "tooltip": "",
        "group": "6cf18bd796a41c29",
        "order": 9,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "0.1",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "b010b974aaa13bb0",
                "48077c9fc6c5c4af"
            ]
        ]
    },
    {
        "id": "3114b002863eae24",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "6cf18bd796a41c29",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "",
        "label": " ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1120,
        "wires": []
    },
    {
        "id": "597fe140b53e89d5",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "6cf18bd796a41c29",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "",
        "label": " ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1180,
        "wires": []
    },
    {
        "id": "b010b974aaa13bb0",
        "type": "ui_text",
        "z": "c27f8bf68c5c1295",
        "group": "6cf18bd796a41c29",
        "order": 10,
        "width": "1",
        "height": "1",
        "name": "",
        "label": " ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 530,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b67e3057b752eb4f",
        "type": "mqtt out",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "status",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15224c09c6cf099a",
        "x": 670,
        "y": 560,
        "wires": []
    },
    {
        "id": "f9a1905181c7451d",
        "type": "mqtt out",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "sp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15224c09c6cf099a",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "cd0af3566df0b8ae",
        "type": "mqtt out",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "kp",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15224c09c6cf099a",
        "x": 670,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6f5b08f78c813280",
        "type": "mqtt out",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "ki",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15224c09c6cf099a",
        "x": 670,
        "y": 1180,
        "wires": []
    },
    {
        "id": "48077c9fc6c5c4af",
        "type": "mqtt out",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "kd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "15224c09c6cf099a",
        "x": 670,
        "y": 1240,
        "wires": []
    },
    {
        "id": "6373e97d8fe536cf",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Store status value",
        "func": "flow.set(\"status\", msg.payload);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b44aa0e9d6abbb0c",
        "type": "function",
        "z": "c27f8bf68c5c1295",
        "name": "Read status value",
        "func": "msg.payload = flow.get(\"status\")  // Mengambil nilai dari context, default ke 0 jika null\nmsg.topic = \"status\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "861f1ba78f85a64d",
        "type": "mqtt in",
        "z": "c27f8bf68c5c1295",
        "name": "",
        "topic": "quality",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "15224c09c6cf099a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "b32b20aeebb15599"
            ]
        ]
    },
    {
        "id": "40f90e976943a035",
        "type": "ui_spacer",
        "z": "c27f8bf68c5c1295",
        "name": "spacer",
        "group": "6cf18bd796a41c29",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6cf18bd796a41c29",
        "type": "ui_group",
        "name": "Button",
        "tab": "bf4c0813617adc75",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fc1f819d24ed42a",
        "type": "ui_group",
        "name": "Motor Speed",
        "tab": "bf4c0813617adc75",
        "order": 2,
        "disp": true,
        "width": "13",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15224c09c6cf099a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bf4c0813617adc75",
        "type": "ui_tab",
        "name": "PID Control Panel",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]